{
  "VERSION": "2.1.36",
  "Environment": 0,
  "IsShowDebugLog": false,
  "TestURL": "https://ba-jp-sdk.bluearchive.jp",
  "ReleaseURL": "https://ba-jp-sdk.bluearchive.jp",
  "SDK_URL": "https://ba-jp-sdk.bluearchive.jp",
  "PayStoreID": 0,
  "IsSandbox": true,
  "FBAppID": "",
  "TWKey": "",
  "HS_ApiKey": "",
  "HS_Domain": "",
  "HS_AndroidAppID": "",
  "HS_IOSAppID": "",
  "Amazon_ApiKey": ""
}
