{
  "VERSION": "2.1.50",
  "Environment": 1,
  "IsShowDebugLog": false,
  "TestURL": "https://ba-jp-sdk.bluearchive.jp",
  "ReleaseURL": "https://ba-jp-sdk.bluearchive.jp",
  "SDK_URL": "https://ba-jp-sdk.bluearchive.jp",
  "PayStoreID": 3,
  "IdfaTip": "",
  "IsSandbox": true,
  "FBAppID": "",
  "TWKey": "iywFqxZVJUnHeQe9VuX6LvCii",
  "HS_ApiKey": "",
  "HS_Domain": "",
  "HS_AndroidAppID": "",
  "HS_IOSAppID": "",
  "HS_NeedSdCardPermiss": false,
  "Amazon_ApiKey": "",
  "OneStore_PublicKey": ""
}
